.page {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  min-height: 0;
}

.left {
  flex: 0 0 57%;
  min-width: 0;
  overflow: hidden;
}

.right {
  flex: 0 0 43%;
  min-width: 0;
  overflow: hidden;
}
